{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}TerrificJS{% endblock %}

{% block meta %}
<meta name="description" content="Learn more about the possibilities and the power of TerrificJS" />
{{ parent() }}
{% endblock %}

{% block body %}
<span class="demo">&nbsp;</span>
<div class="center top">
    {{ tc.module('Intro', 'api') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slope-content">
        <div class="centered">
            <img alt="Terrific Architecture" src="{{ asset('img/api/architecture.png')}}"/>
        </div>
        <div class="line block">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/modules')}}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/skins')}}
            </div>
            <div class="unit last-unit">
                {{ tc.module('Teaser', 'Api/bootstrap')}}
            </div>

        </div>
        <div class="line block">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/application')}}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/sandbox')}}
            </div>
            <div class="unit last-unit">
                {{ tc.module('Teaser', 'Api/connectors')}}
            </div>

        </div>
    </div>
</div>
<div class="center hd">
    <h2 class="h2" id="namingconventions"><span>Conventions</span></h2>
</div>
<div class="slope">
    <div class="center slope-content">
        <blockquote class="indent">
            TerrificJS uses Naming Conventions to prevent you from doing tedious work over and over again. Of course you don't have to follow these Conventions, but it will really saves you a lot of time
        </blockquote>
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/namingmodules')}}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Api/namingskins')}}
            </div>
            <div class="unit last-unit">
                {{ tc.module('Teaser', 'Api/namingconnectors')}}
            </div>
        </div>
        <div class="hint">
            Read more about the TerrificJS Naming Conventions in the <a class="base" href="{{ path('api_conventions')}}">Conventions Chapter</a>.
        </div>
    </div>
</div>
{% endblock %}
