{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Terrific{% endblock %}

{% block body %}
<span class="demo">&nbsp;</span>
<div class="center top">
    {{ tc.module('Intro', 'concept') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slopeContent">
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Concept/structure') }}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Concept/maintainability') }}
            </div>
            <div class="lastUnit">
                {{ tc.module('Teaser', 'Concept/reusability') }}
            </div>
        </div>
        <img src="{{ asset('img/concept/concept.png')}}"/>
        <blockquote class="centered">
            A Terrific Module is made of HTML, JS and CSS
        </blockquote>
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Concept/html') }}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Concept/css') }}
            </div>
            <div class="lastUnit">
                {{ tc.module('Teaser', 'Concept/js') }}
            </div>
        </div>
        <div class="hint">
            Learn more about the <a class="base" href="{{ path('api')}}#namingconventions">Naming Conventions</a> that wire up everything for you in the background.
        </div>
    </div>
</div>
<div class="center hd">
    <h2 class="h2" id="composer"><span>Composer</span></h2>
</div>
<div class="slope">
    <div class="center slopeContent">
        <blockquote class="indent">
            To make your life easier I created the Terrific Composer. The Composer is a Frontend Development Framework specifically designed for building top-notch frontends based on the Terrific concept
        </blockquote>
        <div class="buttons"><a class="button" href="{{ path('composer')}}">Learn More</a> <a class="button" href="{{ path('composer_download')}}">Download Composer</a></div>
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/create') }}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/open') }}
            </div>
            <div class="lastUnit">
                {{ tc.module('Teaser', 'Composer/inspect') }}
            </div>
        </div>
    </div>
</div>
<div class="center hd">
    <h2 class="h2" id="terrificjs"><span>API</span></h2>
</div>
<div class="slope">
    <div class="center slopeContent">
        <blockquote class="indent">
            TerrificJS provides you a Scalable Javascript Architecture, that helps you to modularize your jQuery Code in a very intuitive and natural way
        </blockquote>
        <div class="buttons"><a class="button" href="{{ path('api')}}">Learn More</a> <a class="button" href="{{ path('api_download')}}">Download TerrificJS</a></div>
        <a class="centered img" href="{{ path('api')}}"><img class="screenshot"
                                                         src="{{ asset('img/api/architecture.png')}}"/></a>
    </div>
</div>
<div class="center hd">
    <h2 class="h2" id="integrations"><span>Integrations</span></h2>
</div>
<div class="slope">
    <div class="center slopeContent">
        <blockquote class="indent">
            Integrate your Terrific Frontend in your CMS/Framework of choice
        </blockquote>
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Integrations/wordpress') }}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Integrations/symfony') }}
            </div>
            <div class="unit lastUnit">
                {{ tc.module('Teaser', 'Integrations/codeigniter') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}