<div class="bubble">
{% highlight 'html' 'pygment' %}
<!-- Put your Legos in place -->
<div class="line">
  <div class="unit size1of2">
  {{ '{{' }}tc.module('Teaser', 'teaser'){{ '}}' }}
  </div>
  <div class="unit lastUnit">
  {{ '{{' }}tc.module('Teaser', 'more'){{ '}}' }}
  </div>
</div>

{% endhighlight %}
    <span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon reuse">Download & Install</h4>

    <p class="base">
        Once your Modules are prepared, arrange them in your grid in every combination you can think of by using the <mark class="base">Twig Module Macro</mark>… It's
        like playing Lego.
    </p>
</div>