{# Terrific/CoreBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Terrific Composer{% endblock %}</title>
    <meta name="description"
          content="{% block meta_description %}Modularize your code, scale down your problems{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}Terrific Composer, TerrificJS{% endblock %}"/>
    <meta name="generator" content="Terrific Composer"/>
    <meta charset="UTF-8"/>
    {# stylesheets #}
    {% block css_reset %}
        {% stylesheets
            '@TerrificCoreBundle/Resources/public/css/cssreset-min.css'
            output="css/compiled/reset.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block css_default %}
        {# for general css files (ie. css resets) #}
    {% endblock %}
    {% block styles %}
        {% stylesheets
            '../src/Terrific/Module/*/Resources/public/css/*'
            output="css/compiled/base.css" filter="cssrewrite"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {# the content goes here #}
    {% block composition %}{% endblock %}

    {# javascripts #}
    {% block jquery %}
        {% javascripts
            '@TerrificCoreBundle/Resources/public/js/jquery-1.7.1.min.js'
            output='js/compiled/jquery-1.7.1.min.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block terrificjs %}
        {% javascripts
            '@TerrificCoreBundle/Resources/public/js/terrific-1.0.0.min.js'
            output='js/compiled/terrific-1.0.0.min.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block js_default %}
        {# for general js files (ie. plugins that are needed on every page) #}
    {% endblock %}
    {% block scripts %}
        {% javascripts
            '../src/Terrific/Module/*/Resources/public/js/*'
            output='js/compiled/base.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {# terrificjs bootstrap #}
    {% block bootstrap %}
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    var $page = $('body'),
                        application = new Tc.Application();

                    application.registerModules($page);
                    application.start();
                });
            })(Tc.$);
        </script>
    {% endblock %}
</body>
</html>

