{% extends 'TerrificCompositionBundle::base.html.twig' %}

{% block body %}
{{ tc.module('Logo') }}
<div class="autoCenter">
    <div class="rightCol size1of3">
        {{ tc.module('Toc', 'CoreDocs/module')}}
    </div>
</div>
<div class="slopes">
    <div class="slope">
        <div class="slopeContent autoCenter">
            <h2 id="hooks" class="h2"><span>Module Hooks</span></h2>
            <div class="bd size2of3">
                {{ tc.module('Content', 'CoreDocs/modulehooks')}}
            </div>
        </div>
    </div>
    <div class="slope">
        <div class="slopeContent autoCenter">
            <h2 id="othermethods" class="h2"><span>Other Methods</span></h2>
            <div class="bd size2of3">
                {{ tc.module('Content', 'CoreDocs/moduleothermethods')}}
            </div>
        </div>
    </div>
    <div class="slope">
        <div class="slopeContent autoCenter">
            <h2 id="additionalinfos" class="h2"><span>Additional Infos</span></h2>
            <div class="bd size2of3">
                {{ tc.module('Content', 'CoreDocs/moduleadditionalinfos')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
