{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Terrific Composer{% endblock %}

{% block meta %}
<meta name="description" content="Terrific Composer is a Frontend Development Framework specifically designed for building deluxe frontends based on the Terrific concept" />
{{ parent() }}
{% endblock %}

{% block body %}
<span class="demo">&nbsp;</span>
<div class="center top">
{{ tc.module('Intro', 'composer') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slope-content">
        <blockquote class="indent offset">
            Terrific Composer is a Frontend Development Framework specifically designed for building deluxe frontends based on the <a class="base" href="{{ path('home')}}">Terrific concept</a>
        </blockquote>
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/create') }}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/open') }}
            </div>
            <div class="last-unit">
                {{ tc.module('Teaser', 'Composer/inspect') }}
            </div>
        </div>
    </div>
</div>
<div class="center hd">
    <h2 class="h2"><span>Getting Started</span></h2>
</div>
<div class="slope">
    <div class="center slope-content">
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/install')}}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/structure')}}
            </div>
            <div class="unit last-unit">
                {{ tc.module('Teaser', 'Composer/reuse')}}
            </div>
        </div>
    </div>
</div>
<div class="center hd">
    <h2 class="h2"><span>Flexibility</span></h2>
</div>
<div class="slope">
    <div class="center slope-content">
        <div class="line">
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/import')}}
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Composer/export')}}
            </div>
            <div class="unit last-unit">
                {{ tc.module('Teaser', 'Composer/less')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
