{% macro module(name, view, skins, connectors, attrs, data) %}

{# validate params #}
{% set name = (name) | default('Default') %}
{% set view = (view) | default(name) %}
{% set skins = skins | default([]) %}
{% set connectors = connectors | default([]) %}
{% set attrs = attrs | default({}) %}
{% set data = data | default({}) %}
<div
class="mod {# specific mod#}{{ "mod" ~ name }}{# end specific mod #}{# skins #}{% for skin in skins %}{{ ' skin' ~ name ~ (skin | capitalize) }}{% endfor %}{# end skins #}{# connectors #}{% for connector in connectors %}{{ ' conn' ~ connector }}{% endfor %}{# end connectors #}{# additional class(es) #}{% if attrs.class is defined %}{{ ' ' ~ attrs.class }}{% endif %}{# end additional class(es) #}"

{# additional attrs (exception class attribute) #}
{% for attr, value in attrs %}
    {% if attr != 'class '%}
    {{ (attr ~ '="' ~ value ~ '"') | raw }}
    {% endif %}
{% endfor %}
>

{# include / render the appropriate module view #}
{% if view is containing(':') %}
    {% render 'TerrificModule' ~ name ~ 'Bundle:' ~ view with data %}
{% else %}
    {% include 'TerrificModule' ~ name ~ 'Bundle::' ~ (view | lower) ~ '.html.twig' %}
{% endif %}
{# end include #}

</div>
{% endmacro %}