<div class="line block">
    <div class="unit size1of3">
        <img alt="Terrific Toolbar" src="{{ asset('/bundles/terrificmodulecontent/images/composer/toolbar.png')}}" />
        <div class="promo">
            <h4 class="h3">Terrific Toolbar</h4>

            <p class="base">
                Try it out yourself! The Terrific Toolbar on the right provides you:
            </p>
            <ul class=base>
                <li>Automatic Module & Skin creation</li>
                <li>Easy and fast access to your Modules and Pages</li>
                <li>Inspect mode for the current Page</li>
                <li>… and more to come…</li>
            </ul>
        </div>
    </div>
    <div class="unit size1of3">
        <img alt="Module Legos" src="{{ asset('/bundles/terrificmodulecontent/images/composer/lego.png')}}" />
        <div class="promo">
            <h4 class="h3">Build Your Legos Separately</h4>

            <p class="base">
                Simply open your Modules via the Toolbar and build your Legos separately. Switch back to the page and
                everything integrates with ease.
            </p>
        </div>
    </div>
    <div class="unit lastUnit">
        <div class="bubble">
{% highlight 'html' 'pygment' %}
<!-- Put your Legos in place -->
<div class="line">
  <div class="unit size1of2">
    {{ '{{' }}tc.module('Teaser', 'teaser'){{ '}}' }}
  </div>
  <div class="unit lastUnit">
    {{ '{{' }}tc.module('Teaser', 'more'){{ '}}' }}
  </div>
</div>

{% endhighlight %}
            <span class="arrow"></span>
        </div>
        <div class="promo">
            <h4 class="h3">Reuse of Modules</h4>

            <p class="base">
                Once your Modules are prepared, arrange them in your grid in every combination you can think of by using the <mark class="base">Twig Module Macro</mark>… It's
                like playing Lego.
            </p>
        </div>
    </div>
</div>
<div class="line block">
    <div class="unit size1of3">
        <img alt="Integration in your CMS or Framework of choice" src="{{ asset('/bundles/terrificmodulecontent/images/composer/readyforintegration.png')}}" />
        <div class="promo">
            <h4 class="h3">Ready for Integration</h4>

            <p class="base">
                At the end of the day, Terrific Composer delivers you highly modularized and standardized HTML, JS and
                CSS. So the built frontend can be integrated easily in your CMS or Framework of choice.
            </p>
        </div>
    </div>
    <div class="unit size1of3">
        <div class="bubble">
{% highlight 'css' 'pygment' %}
/* Teaser/css/Teaser.less */
.modTeaser {
  .slogan {
    padding: 10 / 16em;
    color: @bright;
    background: @dark;
    .box-shadow(3px 7px #999);
  }
}
{% endhighlight %}
            <span class="arrow"></span>
        </div>
        <div class="promo">
            <h4 class="h3">LESS Support</h4>

            <p class="base">
                For those who love <a class="base" href="http://www.lesscss.org/">LESS</a>… Terrific Composer comes with LESS support built in! It's as simple as give your
                Stylesheets a
                <mark class="base">.less</mark>
                suffix.
            </p>
        </div>
    </div>
    <div class="unit lastUnit">
        <div class="promo">
            <h4 class="h3">Don't Miss Your Favorites</h4>

            <p class="base">
                There are lots of other cool frameworks out there! The best part of Terrific Composer is its
                flexibility. Simply include and use your favorites inside the Composer and enjoy the best of all worlds.
            </p>
        </div>
    </div>
</div>