<div class="rich">
    <ul>
        <li>
            <h4><a href="{{ path('api_conventions')}}">Conventions</a></h4>
            <p>… without them you will be lost! … or at least they help you to become a TerrificJS addict in no
                time.</p>
        </li>
        <li>
            <h4><a href="{{ path('api_application')}}">Application</a></h4>
            <p>The master and commander of TerrificJS.</p>
        </li>
        <li>
            <h4><a href="{{ path('api_module')}}">Module</a></h4>

            <p>The real stars of TerrificJS. All of your JavaScript code will find its place in one of the Modules.</p>
        </li>
        <li>
            <h4><a href="{{ path('api_skin')}}">Skin</a></h4>

            <p>Have fun by decorating your modules.</p>
        </li>
        <li>
            <h4><a href="{{ path('api_sandbox')}}">Sandbox</a></h4>

            <p>Gives your modules the power to communicate with the application.</p>
        </li>
        <li>
            <h4><a href="{{ path('api_connector')}}">Connector</a></h4>

            <p>Lets your modules stay in touch with each other.</p>
        </li>
    </ul>
</div>